imf-datamapper-demo/imf-datamapper.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1768476374670,
    "description" : "The IMF DataMapper API can be used to retrieve time series as used in the DataMapper. Endpoints are available to get lists of indicators, countries, regions and analytical groups used in these time series.",
    "identifier" : "imf-datamapper",
    "lastModifiedTimestamp" : 1768476374670,
    "name" : "imf-datamapper",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "id" : "70d8eaa6-a321-3fb4-9320-11f9765b0a28",
        "name" : "Indicator To Fetch",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7e0a7b07-f517-3c00-a951-bdf8a9cb9b7c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "id" : "728c3b6b-d610-3203-9471-169b5fe0baf8",
        "name" : "List of Indicators",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "id" : "a6680621-b789-3c62-b1e3-63af4d45600a",
        "name" : "Indicators Prepared For Snowflake",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e29621c6-f86d-36f7-b406-a90a16daa9ac",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "id" : "e3eaf592-f1dc-3c87-9a12-2182fd781f32",
        "name" : "Formatted Indicator Records",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 2
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "IMF DataMapper API",
    "outputPorts" : [ ],
    "parameterContextName" : "IMF DataMapper Parameters",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
          "id" : "3069b6d0-3f0a-3e53-ad48-7e7f56402972",
          "name" : "Invoke IMF Indicator API",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "08166542-7ab1-350f-97cc-b51ccd5ad27d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
          "id" : "70d8eaa6-a321-3fb4-9320-11f9765b0a28",
          "name" : "Indicator To Fetch",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
          "id" : "78ce3091-9d3f-35a1-bccf-1d2165f67501",
          "name" : "Format Records",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "a2ef6262-9699-36e2-a292-5f16d41aa25b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
          "id" : "3069b6d0-3f0a-3e53-ad48-7e7f56402972",
          "name" : "Invoke IMF Indicator API",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
          "id" : "e3eaf592-f1dc-3c87-9a12-2182fd781f32",
          "name" : "Formatted Indicator Records",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "f5ec2c9f-b490-3056-a431-d07660461779",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
          "id" : "78ce3091-9d3f-35a1-bccf-1d2165f67501",
          "name" : "Format Records",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "70d8eaa6-a321-3fb4-9320-11f9765b0a28",
        "name" : "Indicator To Fetch",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -208.0,
          "y" : -312.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Fetch IMF Indicator",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "e3eaf592-f1dc-3c87-9a12-2182fd781f32",
        "name" : "Formatted Indicator Records",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -208.0,
          "y" : 336.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "IMF DataMapper Parameters",
      "position" : {
        "x" : -224.0,
        "y" : 0.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "Failure", "No Retry", "Original", "Retry" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "DEBUG",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "3069b6d0-3f0a-3e53-ad48-7e7f56402972",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Invoke IMF Indicator API",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -264.0,
          "y" : -168.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "#{imf_base_endpoint}/${imf_indicator}",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Request User-Agent" : "curl/8.7.1",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "Proxy Configuration Service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Proxy Configuration Service",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-groovyx-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "48dc04ba-6e5d-3f7d-a332-273431820a9b",
        "identifier" : "78ce3091-9d3f-35a1-bccf-1d2165f67501",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Format Records",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -264.0,
          "y" : 80.0
        },
        "properties" : {
          "Script Body" : "import groovy.json.*\nimport java.nio.charset.StandardCharsets\n\n// Get the incoming flowfile\ndef flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Read the JSON content from the flowfile\n    def jsonContent = \"\"\n    session.read(flowFile) { inputStream ->\n        jsonContent = inputStream.getText(StandardCharsets.UTF_8.name())\n    }\n    \n    // Parse the JSON\n    def jsonSlurper = new JsonSlurper()\n    def parsedJson = jsonSlurper.parseText(jsonContent)\n    \n    // Extract the values object\n    def values = parsedJson.values\n    \n    // Flatten the nested structure and convert directly to JSON strings\n    def outputLines = []\n    \n    values.each { indicator, countries ->\n        countries.each { countryCode, years ->\n            years.each { year, value ->\n                // Round the value to avoid floating point precision issues\n                def roundedValue = value instanceof Number ? \n                    Math.round(value * 10) / 10.0 : value\n                \n                // Create JSON string directly for each record\n                def record = [\n                    indicator: indicator,\n                    country_code: countryCode,\n                    year: year.toString(),\n                    value: roundedValue,\n                    ingestion_timestamp: new Date().format(\"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'\")\n                ]\n                \n                // Convert to JSON string immediately\n                def jsonBuilder = new JsonBuilder(record)\n                outputLines << jsonBuilder.toString()\n            }\n        }\n    }\n    \n    // Join all JSON lines with newlines\n    def outputContent = outputLines.join('\\n')\n    \n    // Write the flattened data to a new flowfile\n    flowFile = session.write(flowFile) { outputStream ->\n        outputStream.write(outputContent.getBytes(StandardCharsets.UTF_8))\n    }\n    \n    // Transfer to success\n    session.transfer(flowFile, REL_SUCCESS)\n    \n} catch (Exception e) {\n    log.error(\"Error processing JSON: ${e.message}\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}",
          "Failure Strategy" : "transfer to failure"
        },
        "propertyDescriptors" : {
          "Script File" : {
            "displayName" : "Script File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Script File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "Additional Classpath" : {
            "displayName" : "Additional Classpath",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Additional Classpath",
            "sensitive" : false
          },
          "Script Body" : {
            "displayName" : "Script Body",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Script Body",
            "sensitive" : false
          },
          "Failure Strategy" : {
            "displayName" : "Failure Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Failure Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
          "id" : "e4f531e1-6678-3635-9033-ace3ed9af9c5",
          "name" : "PutSnowpipeStreaming",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "776c9ec8-256b-3597-a8fe-de51e69a2ac9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
          "id" : "647c0c69-ce93-3088-b17b-3be5045fffcc",
          "name" : "ExecuteSQLStatement",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
          "id" : "d18ed721-5723-37d0-93aa-f273f711fae9",
          "name" : "ExecuteSQLStatement",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "cd794a96-64b4-3fe2-a000-99a231a0f67a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
          "id" : "a6680621-b789-3c62-b1e3-63af4d45600a",
          "name" : "Indicators Prepared For Snowflake",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
          "id" : "647c0c69-ce93-3088-b17b-3be5045fffcc",
          "name" : "ExecuteSQLStatement",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "ed4d5e28-701d-3d50-8507-d54013041f27",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
          "id" : "d18ed721-5723-37d0-93aa-f273f711fae9",
          "name" : "ExecuteSQLStatement",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-connection-service-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2025.12.11.21"
          },
          "type" : "org.apache.nifi.dbcp.DBCPService"
        } ],
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "21e4f4a5-f156-32cd-9da6-8878fd347d27",
        "name" : "SnowflakeConnectionService",
        "properties" : {
          "Warehouse" : "OPENFLOW_WH",
          "Maximum Connections" : "10",
          "Maximum Lifetime" : "30 minutes",
          "Schema" : "PUBLIC",
          "Connection Strategy" : "STANDARD",
          "Connection Timeout" : "30 seconds",
          "Role" : "OPENFLOW_RUNTIME_ROLE",
          "Idle Timeout" : "10 minutes",
          "Authentication Strategy" : "SNOWFLAKE_SESSION_TOKEN",
          "Database Name" : "OPENFLOW_API_DEMO",
          "Network Timeout" : "5 minutes"
        },
        "propertyDescriptors" : {
          "Account" : {
            "displayName" : "Account",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Account",
            "sensitive" : false
          },
          "Warehouse" : {
            "displayName" : "Warehouse",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Warehouse",
            "sensitive" : false
          },
          "User" : {
            "displayName" : "User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "User",
            "sensitive" : false
          },
          "Maximum Connections" : {
            "displayName" : "Maximum Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Connections",
            "sensitive" : false
          },
          "Maximum Lifetime" : {
            "displayName" : "Maximum Lifetime",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Lifetime",
            "sensitive" : false
          },
          "Schema" : {
            "displayName" : "Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema",
            "sensitive" : false
          },
          "Private Key Service" : {
            "displayName" : "Private Key Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Private Key Service",
            "sensitive" : false
          },
          "Connection Strategy" : {
            "displayName" : "Connection Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Strategy",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Role" : {
            "displayName" : "Role",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Role",
            "sensitive" : false
          },
          "Idle Timeout" : {
            "displayName" : "Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Idle Timeout",
            "sensitive" : false
          },
          "Authentication Strategy" : {
            "displayName" : "Authentication Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Authentication Strategy",
            "sensitive" : false
          },
          "Database Name" : {
            "displayName" : "Database Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Name",
            "sensitive" : false
          },
          "Network Timeout" : {
            "displayName" : "Network Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Network Timeout",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2025.12.11.21"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "68a9e327-c00d-3c18-8641-fd45b98e571d",
        "name" : "JsonTreeReader",
        "properties" : {
          "Schema Text" : "${avro.schema}",
          "Max String Length" : "20 MB",
          "Starting Field Strategy" : "ROOT_NODE",
          "Schema Access Strategy" : "infer-schema",
          "Schema Name" : "${schema.name}",
          "Schema Application Strategy" : "SELECTED_PART",
          "Allow Comments" : "false"
        },
        "propertyDescriptors" : {
          "Schema Branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Branch",
            "sensitive" : false
          },
          "Schema Reference Reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Reader",
            "sensitive" : false
          },
          "Schema Text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Text",
            "sensitive" : false
          },
          "Starting Field Name" : {
            "displayName" : "Starting Field Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Starting Field Name",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Schema Inference Cache" : {
            "displayName" : "Schema Inference Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Inference Cache",
            "sensitive" : false
          },
          "Starting Field Strategy" : {
            "displayName" : "Starting Field Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Starting Field Strategy",
            "sensitive" : false
          },
          "Schema Registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Registry",
            "sensitive" : false
          },
          "Schema Access Strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Access Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "Schema Application Strategy" : {
            "displayName" : "Schema Application Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Application Strategy",
            "sensitive" : false
          },
          "Schema Version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Version",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "Allow Comments" : {
            "displayName" : "Allow Comments",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Comments",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.json.JsonTreeReader"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "a6680621-b789-3c62-b1e3-63af4d45600a",
        "name" : "Indicators Prepared For Snowflake",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -144.0,
          "y" : -215.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "IMF To Snowflake",
      "outputPorts" : [ ],
      "parameterContextName" : "IMF DataMapper Parameters",
      "position" : {
        "x" : -224.0,
        "y" : 328.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-database-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "647c0c69-ce93-3088-b17b-3be5045fffcc",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQLStatement",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -200.0,
          "y" : 160.0
        },
        "properties" : {
          "Max Batch Size" : "1",
          "Connection Pooling Service" : "21e4f4a5-f156-32cd-9da6-8878fd347d27",
          "Max Content Reference Size" : "32 KB",
          "SQL" : "DELETE FROM IMF_DATAMAPPER_INDICATORS \nWHERE indicator = '${imf_indicator}';"
        },
        "propertyDescriptors" : {
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Connection Pooling Service" : {
            "displayName" : "Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pooling Service",
            "sensitive" : false
          },
          "Max Content Reference Size" : {
            "displayName" : "Max Content Reference Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Content Reference Size",
            "sensitive" : false
          },
          "SQL" : {
            "displayName" : "SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.database.ExecuteSQLStatement",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-database-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "d18ed721-5723-37d0-93aa-f273f711fae9",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQLStatement",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -200.0,
          "y" : -72.0
        },
        "properties" : {
          "Max Batch Size" : "1",
          "Connection Pooling Service" : "21e4f4a5-f156-32cd-9da6-8878fd347d27",
          "Max Content Reference Size" : "32 KB",
          "SQL" : "CREATE TABLE IF NOT EXISTS IMF_DATAMAPPER_INDICATORS (\n    indicator VARCHAR(50),\n    country_code VARCHAR(10), \n    year NUMBER(4,0),\n    value NUMBER(15,6),\n    ingestion_timestamp TIMESTAMP\n);"
        },
        "propertyDescriptors" : {
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Connection Pooling Service" : {
            "displayName" : "Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pooling Service",
            "sensitive" : false
          },
          "Max Content Reference Size" : {
            "displayName" : "Max Content Reference Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Content Reference Size",
            "sensitive" : false
          },
          "SQL" : {
            "displayName" : "SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.database.ExecuteSQLStatement",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowpipe-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "534d34cc-5cd1-3b52-9b6d-33bf90e46891",
        "identifier" : "e4f531e1-6678-3635-9033-ace3ed9af9c5",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutSnowpipeStreaming",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -200.0,
          "y" : 400.0
        },
        "properties" : {
          "Table" : "IMF_DATAMAPPER_INDICATORS",
          "Max Batch Size" : "10000",
          "Schema" : "PUBLIC",
          "Max Tasks Per Group" : "1",
          "Record Reader" : "68a9e327-c00d-3c18-8641-fd45b98e571d",
          "Iceberg Enabled" : "false",
          "Connection Strategy" : "STANDARD",
          "Role" : "OPENFLOW_RUNTIME_ROLE",
          "Snowpipe Channel Prefix" : "${hostname(false)}",
          "Client Lag" : "1 sec",
          "Authentication Strategy" : "SNOWFLAKE_SESSION_TOKEN",
          "Delivery Guarantee" : "At least once",
          "Database" : "OPENFLOW_API_DEMO"
        },
        "propertyDescriptors" : {
          "Account" : {
            "displayName" : "Account",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Account",
            "sensitive" : false
          },
          "User" : {
            "displayName" : "User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "User",
            "sensitive" : false
          },
          "Table" : {
            "displayName" : "Table",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table",
            "sensitive" : false
          },
          "Concurrency Group" : {
            "displayName" : "Concurrency Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Concurrency Group",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Schema" : {
            "displayName" : "Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema",
            "sensitive" : false
          },
          "Max Tasks Per Group" : {
            "displayName" : "Max Tasks Per Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Tasks Per Group",
            "sensitive" : false
          },
          "Record Offset" : {
            "displayName" : "Record Offset",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Iceberg Enabled" : {
            "displayName" : "Iceberg Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Iceberg Enabled",
            "sensitive" : false
          },
          "Snowpipe Channel Index" : {
            "displayName" : "Snowpipe Channel Index",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Snowpipe Channel Index",
            "sensitive" : false
          },
          "Private Key Service" : {
            "displayName" : "Private Key Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Private Key Service",
            "sensitive" : false
          },
          "Connection Strategy" : {
            "displayName" : "Connection Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Strategy",
            "sensitive" : false
          },
          "Role" : {
            "displayName" : "Role",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Role",
            "sensitive" : false
          },
          "Record Offset Strategy" : {
            "displayName" : "Record Offset Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset Strategy",
            "sensitive" : false
          },
          "Snowpipe Channel Prefix" : {
            "displayName" : "Snowpipe Channel Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Snowpipe Channel Prefix",
            "sensitive" : false
          },
          "Client Lag" : {
            "displayName" : "Client Lag",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Client Lag",
            "sensitive" : false
          },
          "Authentication Strategy" : {
            "displayName" : "Authentication Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Authentication Strategy",
            "sensitive" : false
          },
          "Delivery Guarantee" : {
            "displayName" : "Delivery Guarantee",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delivery Guarantee",
            "sensitive" : false
          },
          "Record Offset Record Path" : {
            "displayName" : "Record Offset Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset Record Path",
            "sensitive" : false
          },
          "Database" : {
            "displayName" : "Database",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "https://www.imf.org/external/datamapper/api/v1/indicators",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "8cf50229-da10-307f-a3fb-4eb4be3447be",
          "name" : "Transform Indicators",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "0d012721-08d7-36e4-948f-1526d2d8f8d6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Failure", "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "b34981dd-ef20-398c-9ff9-6775ec87a477",
          "name" : "All Indicators",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "728c3b6b-d610-3203-9471-169b5fe0baf8",
          "name" : "List of Indicators",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "26b81df3-49a2-36ef-9a49-bbc475fdece1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "ce55e353-1f19-3af5-a390-740cc0af71b2",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "91915905-182a-3337-aa52-6fad25d3d7b2",
          "name" : "Split Indicators",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "a0ce8719-0e88-3884-ad0a-938f392e65d0",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "8cf50229-da10-307f-a3fb-4eb4be3447be",
          "name" : "Transform Indicators",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "ce55e353-1f19-3af5-a390-740cc0af71b2",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "d66741cc-8c68-3af7-9ce1-25854d2d2d37",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
          "id" : "91915905-182a-3337-aa52-6fad25d3d7b2",
          "name" : "Split Indicators",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "IMF Indicators",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "728c3b6b-d610-3203-9471-169b5fe0baf8",
        "name" : "List of Indicators",
        "portFunction" : "FAILURE",
        "position" : {
          "x" : -456.0,
          "y" : 720.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "IMF DataMapper Parameters",
      "position" : {
        "x" : -224.0,
        "y" : -312.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-jolt-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "8cf50229-da10-307f-a3fb-4eb4be3447be",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Transform Indicators",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -512.0,
          "y" : -24.0
        },
        "properties" : {
          "JSON Source" : "FLOW_FILE",
          "Jolt Transform" : "jolt-transform-shift",
          "Max String Length" : "20 MB",
          "Transform Cache Size" : "1",
          "Pretty Print" : "true",
          "Jolt Specification" : "{\n  \"indicators\": {\n    \"*\": {\n      \"$\": \"[#2].indicator\",\n      \"*\": \"[#2].&\"\n    }\n  }\n}"
        },
        "propertyDescriptors" : {
          "JSON Source" : {
            "displayName" : "JSON Source",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source",
            "sensitive" : false
          },
          "Jolt Transform" : {
            "displayName" : "Jolt Transform",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Transform",
            "sensitive" : false
          },
          "JSON Source Attribute" : {
            "displayName" : "JSON Source Attribute",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JSON Source Attribute",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Transform Cache Size" : {
            "displayName" : "Transform Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transform Cache Size",
            "sensitive" : false
          },
          "Custom Transformation Class Name" : {
            "displayName" : "Custom Transformation Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Transformation Class Name",
            "sensitive" : false
          },
          "Custom Module Directory" : {
            "displayName" : "Custom Module Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Module Directory",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE" ]
            },
            "sensitive" : false
          },
          "Pretty Print" : {
            "displayName" : "Pretty Print",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print",
            "sensitive" : false
          },
          "Jolt Specification" : {
            "displayName" : "Jolt Specification",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Jolt Specification",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE", "TEXT" ]
            },
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "91915905-182a-3337-aa52-6fad25d3d7b2",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Split Indicators",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -512.0,
          "y" : 216.0
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "No Retry", "Original", "Retry" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "DEBUG",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "b34981dd-ef20-398c-9ff9-6775ec87a477",
        "maxBackoffPeriod" : "10 mins",
        "name" : "All Indicators",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -512.0,
          "y" : -264.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "#{imf_base_endpoint}/indicators",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Request User-Agent" : "curl/8.7.1",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "Proxy Configuration Service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Proxy Configuration Service",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "60 mins",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.12.11.21"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "b67d1747-5dd4-319b-9ed9-215a5c999583",
        "identifier" : "ce55e353-1f19-3af5-a390-740cc0af71b2",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -512.0,
          "y" : 472.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "imf_indicator" : "$.indicator",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "imf_indicator" : {
            "displayName" : "imf_indicator",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "imf_indicator",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "IMF DataMapper Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "The IMF DataMapper API can be used to retrieve time series as used in the DataMapper. Endpoints are available to get lists of indicators, countries, regions and analytical groups used in these time series.",
      "inheritedParameterContexts" : [ ],
      "name" : "IMF DataMapper Parameters",
      "parameters" : [ {
        "description" : "",
        "name" : "imf_base_endpoint",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://www.imf.org/external/datamapper/api/v1"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "JKINLEY",
    "flowIdentifier" : "imf-datamapper",
    "timestamp" : 1768476375466
  }
}