versioning/versioning.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1764601477791,
    "description" : "How to version control NiFi flows.",
    "identifier" : "versioning",
    "lastModifiedTimestamp" : 1764601477791,
    "name" : "versioning",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ab85d51-b048-3d60-b52a-b03a2633d42b",
        "name" : "SplitJsonArray",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4bf34f1b-2b08-37f9-a3aa-407790ee620d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "578fcb0d-ccdf-317a-b996-149b6ddfcb08",
        "name" : "GenerateJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e3109905-d61a-3e0a-9a7e-7bb4faa9b9b4",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5bbee7c7-db24-3c18-96e1-a1c362745247",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "matched", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "024f0cd7-3bea-3e12-8d5b-c3dba32372be",
        "name" : "SetSymbolAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 5
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "024f0cd7-3bea-3e12-8d5b-c3dba32372be",
        "name" : "SetSymbolAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7381de75-ae27-3012-99de-06f736d8d149",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original", "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ab85d51-b048-3d60-b52a-b03a2633d42b",
        "name" : "SplitJsonArray",
        "type" : "PROCESSOR"
      },
      "zIndex" : 6
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.11.20.20"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "555c6037-a6a1-3a6a-aeaa-7f6d42900f57",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Allow Scientific Notation" : "false",
        "Compression Level" : "1",
        "Output Grouping" : "output-array",
        "Schema Access Strategy" : "inherit-record-schema",
        "Schema Name" : "${schema.name}",
        "Pretty Print JSON" : "false",
        "Suppress Null Values" : "never-suppress",
        "Schema Write Strategy" : "no-schema",
        "Compression Format" : "none"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Output Grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Grouping",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Suppress Null Values" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Suppress Null Values",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Schema Cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Cache",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e3109905-d61a-3e0a-9a7e-7bb4faa9b9b4",
      "position" : {
        "x" : -8.0,
        "y" : 40.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Versioning (Development)",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "024f0cd7-3bea-3e12-8d5b-c3dba32372be",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SetSymbolAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -160.0,
        "y" : -200.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "symbol" : "$.symbol",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "symbol" : {
          "displayName" : "symbol",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "symbol",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "INFO",
      "bundle" : {
        "artifact" : "runtime-record-generation-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "578fcb0d-ccdf-317a-b996-149b6ddfcb08",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -848.0,
        "y" : -440.0
      },
      "properties" : {
        "Batch Size" : "10",
        "Output Structure" : "JSON_ARRAY",
        "JSON Schema" : "{\n    \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n    \"title\": \"HistoricalQuote\",\n    \"description\": \"Historical stock prices and volumes\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"symbol\": {\n            \"type\": \"string\",\n            \"description\": \"Stock ticker symbol (e.g., AAPL, MSFT)\",\n            \"pattern\": \"^[A-Z]{1,5}$\"\n        },\n        \"date\": {\n            \"type\": \"string\",\n            \"description\": \"Trading date in MM/DD/YYYY format\",\n            \"pattern\": \"^(0[1-9]|1[0-2])\\\\/(0[1-9]|[12][0-9]|3[01])\\\\/\\\\d{4}$\"\n        },\n        \"close_last\": {\n            \"type\": \"string\",\n            \"description\": \"Closing price (string format with $ prefix)\",\n            \"pattern\": \"^\\\\$\\\\d{1,4}\\\\.\\\\d{2}$\"\n        },\n        \"volume\": {\n            \"type\": \"integer\",\n            \"description\": \"Trading volume (number of shares traded)\"\n        },\n        \"open\": {\n            \"type\": \"string\",\n            \"description\": \"Opening price (string format with $ prefix)\",\n            \"pattern\": \"^\\\\$\\\\d{1,4}\\\\.\\\\d{2}$\"\n        },\n        \"high\": {\n            \"type\": \"string\",\n            \"description\": \"Highest price (string format with $ prefix)\",\n            \"pattern\": \"^\\\\$\\\\d{1,4}\\\\.\\\\d{2}$\"\n        },\n        \"low\": {\n            \"type\": \"string\",\n            \"description\": \"Lowest price (string format with $ prefix)\",\n            \"pattern\": \"^\\\\$\\\\d{1,4}\\\\.\\\\d{2}$\"\n        }\n    },\n    \"required\": [\n        \"symbol\",\n        \"date\",\n        \"close_last\",\n        \"volume\",\n        \"open\",\n        \"high\",\n        \"low\"\n    ]\n}"
      },
      "propertyDescriptors" : {
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Output Structure" : {
          "displayName" : "Output Structure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Structure",
          "sensitive" : false
        },
        "JSON Schema" : {
          "displayName" : "JSON Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Schema",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.record.generation.GenerateJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5ab85d51-b048-3d60-b52a-b03a2633d42b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJsonArray",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -160.0,
        "y" : -440.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "JKINLEY",
    "flowIdentifier" : "versioning",
    "timestamp" : 1764601948356
  }
}